.movie {
  margin: 1em 0;

  .title {
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
  }

  .tagline {
  }
  .movieData {
    div {
      display: inline-block;
    }
    div:not(:first-child) {
      margin-left: 1em;
      padding-left: 1em;
      border-left: 1px solid #888;
    }
  }

  .releaseDate {
  }

  .genre {
  }

  .runtime {
  }

  .score {
  }

  .overview {
  }
}
